*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;


}

.sidebar{
    grid-row:1/span 2;

    background-color: lightblue;
}

.header{
    grid-column: 2/span 1;

    background-color: white;
}

.content{
    grid-row: 2/span 1;
    grid-column: 2/span 1;

    background-color:grey;
}